// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.
$primary: #10b981;
$secondary: #34d399;
$accent: #f59e0b;

// Check documentation for full list of Quasar variables
$dark: #111827;
$dark-page: #090d16;

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files
$positive: #10b981;
$negative: #ef4444;
$info: #34d399;
$warning: #f59e0b;

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
$separator-dark-color: #1f2937;
